<h1>マイページ</h1>
 <table class="table">
   <tr>
     <th>名前</th>
     <td><%= current_user.name %></td>
   </tr>
   <% if @user.id == current_user.id %>
   <p><%= link_to "編集", edit_user_path(@user) %></p>
   <% end %>
 </table>