<h1>投稿一覧</h1>
 <% @animes.each do |anime| %>
 <table>
   <thead>
     <tr>
       <th>投稿画像</th>
       <th>題名</th>
       <th>紹介</th>
       <th>投稿者</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td></td>
       <td><%= anime.anime_name %></td>
       <td><%= anime.intruduction %></td>
       <td><%= anime.user.name %></td>
     </tr>
   </tbody>
 </table>
 <% end %>